.customers-product{
    margin-bottom: 101px;
    padding: 24px 0 61px;
    background: #F5F5F5;
  }
  
  .customers-product__inner{
    text-align: center;
  }
  
  .customers-product__title-box{
    @include flex-starter;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .customers-product__title{
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: #22343D;
  }
  
  .customers-product__list{
    @include flex-starter;
    justify-content: center;
    @include global-list;
  }
  
  .customers-product__item{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
    padding: 114px 38px 34px;
    background-image: url("../images/icon-click.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: top 32px center;
    border-radius: 10px;
    border: 1px solid #DEDEDE;
  
    &:nth-child(2){
        background-image: url("../images/icon-desig.png");
    }
  
    &:nth-child(3){ 
        background-image: url(../images/icon-fastest.png);
    }
  }
  
  .customers-product__subject{
    margin: 0;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: var(--frame-56);
  }
  
  .customers-product__text{
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #22343D;
  }
  
  
  
  
  @media only screen and (max-width: 520px) {
  
    .customers-product{
      margin-bottom: 96px;
    }
  
    .customers-product__list{
      flex-direction: column;
    }
  
    .customers-product__item{
      margin-right: 0;
      margin-bottom: 32px;
      text-align: center;
    }
  }